.container{
    display: grid;
    grid-template-columns: auto auto;
    height: 100%;
}
.container >a{
    font-size: 25px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.container >a:hover{
    background-color: beige;
    height: 100%;
    width: 100%;
}
html, body{
    height: 100%;
    margin: 0px;
}

table{
    border-collapse: collapse;
}
table *{
    border: 1px solid black;
    padding: 5px 10px;
}
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
th{
    background-color: blanchedalmond;
}

.users{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
}

.one-user{
    padding: 15px;
    background-color: bisque;
    border-radius: 15px;
    margin: 8px;
}